.p_tbdr{
   
}
body{
   
    background: grey;
}
header{
    background: #fff;

}
main{
    height: 100%;
    
    background: #fff;
}
.my_img{
    text-decoration:"none";
    transition: width 0.2s, height 0.2s, transform 0.5s;
}
.my_img:hover {
    transform: scale(1.1);
   
}

.anil{
    --bs-breadcrumb-divider: '>' !important;
}

footer{
    min-height: 300px;
    background: #fff;

}